#version: '2.40.3'

services:
  # PostgreSQL Service
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Margrete@1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

  # Zookeeper Service
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - backend

  # Kafka Service
  kafka:
    image: confluentinc/cp-kafka:7.0.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    networks:
      - backend
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

  # Zipkin Service
  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"

  # Microservice 1
  microservice1:
    build: ./student-eureka # Path to microservice directory containing Dockerfile
    container_name: student-eureka
    volumes:
      - student_volume:/student/data
    networks:
      - backend
    ports:
      - "8761:8761" # Map host port 8761 to container port 8761
  microservice2:
    build: ./student-config # path to microservice config server directory containing Dockerfile
    container_name: student-config
    volumes:
      - config_volume:/config/data
    networks:
      - backend
    ports:
      - "8890:8890" # Map host port 8890 to container port 8890
    depends_on:
      - zipkin
  #    - student-eureka
  # Microservice 3
  microservice3:
    build: ./student-info
    container_name: student-info
    volumes:
      - info_volume:/info/data
    networks:
      - backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/student
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Margrete@1
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_ZIPKIN_BASEURL: http://zipkin:9411
  #    STUDENT_EUREKA_URL: http://student-eureka:8761
    depends_on:
      - postgres
      - kafka
      - zipkin
  #    - student-eureka
    ports:
      - "8779:8779"

  # ... (Repeat for microservice4)
  microservice4:
    build: ./student-subjects
    container_name: student-subjects
    volumes:
      - subjects_volume:/student/data
    networks:
      - backend
    environment:
         SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/subject
         SPRING_DATASOURCE_USERNAME: postgres
         SPRING_DATASOURCE_PASSWORD: Margrete@1
         SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
         SPRING_ZIPKIN_BASEURL: http://zipkin:9411
  #       STUDENT_EUREKA_URL: http://student-eureka:8761
    depends_on:
      - postgres
      - kafka
      - zipkin
  #    - student-eureka
    ports:
      - "8780:8780"
  # ... (Repeat for microservice5)
  microservice5:
    build: ./student-analytical
    container_name: student-analytical
    volumes:
      - analytical_volume:/analytical/data
    networks:
      - backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/analytical
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Margrete@1
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_ZIPKIN_BASEURL: http://zipkin:9411
  #    STUDENT_EUREKA_URL: http://student-eureka:8761
    depends_on:
      - postgres
      - kafka
      - zipkin
  #    - student-eureka
    ports:
      - "8781:8781"
  microservice6:
    build: ./student-gateway # path to microservice config server directory containing Dockerfile
    container_name: student-gateway
    volumes:
      - gateway_volume:/gateway/data
    networks:
      - backend
    ports:
      - "8810:8810" # Map host port 8890 to container port 8810
    depends_on:
      - zipkin
  #    - student-eureka
volumes:
  postgres_data:
  config_volume:
  student_volume:
  analytical_volume:
  info_volume:
  subjects_volume:
  gateway_volume:
networks:
  backend:
    driver: bridge